flake8==4.0.1
pycodestyle==2.8.0
pyflakes==2.4.0
mccabe==0.6.1
tomli==1.0.0
py==1.10.0
iniconfig
pluggy<2.0,>=0.12
atomicwrites==1.0
attrs==19.2.0
pytest==7.0.1
pytest-cov==3.0.0
coverage==6.3.1
pytest-mock==3.7.0
-r requirements.txt